.meus-filmes {
    
    height: calc(100vh - 60px);
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.meus-filmes h1 {
    
    margin-bottom: 14px;
}

.meus-filmes span {
    
    font-size: 18px;
}

.meus-filmes ul {
    
    width: 720px;
}

.meus-filmes ul li {
    
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}


.meus-filmes div {
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.meus-filmes div a {
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}

.img-favoritos {
    width: 50px;
    height: 50px;
    margin-left: 0;
}


@media (max-width: 600px) {
    .meus-filmes{
        height: calc(100vh - -165px);
        width: 100vh;
        max-width: 100%;
       color: blue;
       display: flex;
       justify-content: center;
       align-items: center;
   
    }
}
@media (max-width: 600px) {
    .img-favoritos{
       width: 0px;
       height: 0px;
   
    }
}

@media (max-width: 600px) {
    .meus-filmes ul li{
       display: flex;
       flex-direction: column;
       justify-content: center;
   
    }
}


 